<connectionStrings>
  <add name="MiniTrello.Local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiniTrello;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniTrello.Remote" connectionString="Server=ce3ecda4-2c10-4c63-9d34-a2c30020104a.sqlserver.sequelizer.com;Database=dbce3ecda42c104c639d34a2c30020104a;User ID=kajidureusptokgo;Password=s4yRD4R6iW2nvXUnhSztEdhgoQBetP5tsycG5oBCqzms6BV87wMXa5dpUrBWAMLB;"/>
</connectionStrings>